<div class="form-group form-inline">
  <button type="button" class="btn btn-secondary m-1" [routerLink]="['/']">Back</button>
</div>
<form [ngFormOptions]="{updateOn: 'blur'}">
  <!-- name -->
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" [(ngModel)]="model.name" name="name" required>
  </div>
  <!-- dob -->
  <div class="form-group">
    <label for="dob">DOB</label>
    <div class="input-group">
      <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker" name="dob"
        required>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
            <i class="material-icons">date_range</i>
        </button>
      </div>
    </div>
  </div>
  <!-- salary -->
  <div class="form-group">
    <label for="salary">Salary</label>
    <input type="text" class="form-control" [(ngModel)]="model.salary" name="salary" required>
  </div>
  <!-- skills -->
  <div class="form-group">
    <label for="skills">Skills</label>
    <!-- <button type="button" class="btn btn-primary m-1" (click)="addSkill()">Add</button> -->
    <span class="btn m-2"><i class="material-icons" (click)="addSkill()">control_point</i></span>
    <div *ngFor="let skill of model.skills;let i=index">
      <!-- The repeated skill template -->
      <div class="form-inline m-1">
        <input required type="text" type="text" class="form-control col-sm-3" [(ngModel)]="skill.name" [name]='"skill"+i'
          placeholder="Skill" required>
        <select class="form-control col-sm-3 ml-2" [(ngModel)]="skill.rating" [name]='"rating"+i' required>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
      </div>
    </div>
  </div>
  <!-- pic -->
  <!-- <div class="form-group">
    <label for="pic">Picture</label>
    <input type="file" class="form-control-file" id="pic" name="pic">
  </div> -->
  <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
</form>
